<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	

<p:dialog header="Confirmar" widgetVar="dlgConfirmacao" modal="true"
			appendTo="@(body)" closable="false" draggable="true"
			resizable="false">
			<h:form>
				<p:messages id="messages" autoUpdate="true" closable="false" />
				<h:panelGrid columns="2">
					<p:commandButton value="OK" icon="fa fa-check"
						update=":form:tbl"
						oncomplete="PF('dlgConfirmacao').hide();"
						onclick="PF('dlgEditar').hide(); PF('dlgCad').hide();">
					</p:commandButton>
				</h:panelGrid>
			</h:form>
		</p:dialog>
    
</html>   
   