<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition template="template.xhtml">

	<ui:define name="content">
	
 <div class="container" align="center" > 
	
	
<p:panel id="basic" style="width: 700px; align:center" header="Usuários"> 
 
 <h:form id="frmCad"> 
  
  <h:panelGrid columns="4" id="pnlInsert">
			
			  <p:panelGrid columns="4" style="width:600px;">
			   
                <p:outputLabel value="Nome: " />	
                <p:inputText value="#{personMB.personSave.firstName}" /> 					
						
               <p:outputLabel value="Sobrenome: " />
               <p:inputText value="#{personMB.personSave.lastName}" /> 
               
               <p:outputLabel value="Nome em obras científicas: " />
               <p:inputText value="#{personMB.personSave.surname}" /> 
               
               <p:outputLabel value="CPF: " />
               <p:inputText value="#{personMB.personSave.key}" /> 
               
               <p:outputLabel value="Email: " />
               <p:inputText value="#{personMB.personSave.email}" /> 
               
                		 
		      
		        <p:commandButton value="Inserir" icon="fa fa-check"
								actionListener="#{personMB.save()}"
								update=":formPerson:tbl"
								oncomplete="PF('dlgConfirmacao').show();">
								
								<p:resetInput target="pnlInsert"></p:resetInput>
							</p:commandButton>    
  </p:panelGrid>
</h:panelGrid>    

</h:form>          
  
  
  <h:form id="formPerson" >
     
    <p:dataTable id="tbl" var="person" value="#{personMB.personList}"
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                 paginator="true" rows="10" style="margin-bottom:20px; padding-top:20px; max-width: 600px; min-width: 600px;" 
                 currentPageReportTemplate="[Página: {currentPage} de {totalPages} ]"
                 > 
    
       <p:column headerText="Nome" filterBy="#{person.firstName}" filterMatchMode="contains" width="120" >       
       		               
            <h:outputText value="#{person.firstName}" />
                     
        </p:column>
        
        <p:column headerText="Sobrenome" filterBy="#{person.lastName}" width="120">
            <h:outputText value="#{person.lastName}" />
        </p:column>
        
        <p:column headerText="Email" filterBy="#{person.email}" width="120">
            <h:outputText value="#{person.email}" />
        </p:column>
        
                
              
      <p:column headerText="Opções" width="150">
      		<div align="center">
      		
      					<p:commandButton id="visu" icon="fa fa-eye" 
								oncomplete="PF('dlgVisualizar').show();"
								update=":frmVisualizar:pnlVisualizar">
								<f:setPropertyActionListener value="#{person}"
									target="#{personMB.person()}" />
								
								<p:tooltip for="visu" value="Visualizar" trackMouse="true" />
									
						</p:commandButton>
      					
      											
							<p:commandButton id="edit" icon="fa fa-edit" 
								oncomplete="PF('dlgEditar').show();"
								update=":frmEditar:pnlEditar">
								
								<f:setPropertyActionListener value="#{person}"
									target="#{personMB.person()}" />
									
								<p:tooltip for="edit" value="Editar" trackMouse="true" />
									
							</p:commandButton>
							
							
							<p:commandButton id="exc" icon="fa fa-eraser" 
								oncomplete="PF('dlgDel').show();"
								update=":frmDel:pnlDel">
								
								<f:setPropertyActionListener value="#{person}"
									target="#{personMB.person}" />
								
								<p:tooltip for="exc" value="Excluir" trackMouse="true" />
									
							</p:commandButton>
							
							
						</div>
		</p:column>
	    
	          
                     
     </p:dataTable>
          
     
      </h:form>  
     
    
     
  </p:panel>  
  
  <!--DIALOGO visualizar -->

		<p:dialog widgetVar="dlgVisualizar" closable="false"
			draggable="true" resizable="false" header="Visualizar"
			modal="true" appendTo="@(body)">
			<h:form id="frmVisualizar">
			
				<h:panelGrid columns="2" id="pnlVisualizar">
					<p:panelGrid columns="2">
						
				<p:outputLabel value="Nome: " />	
                <h:outputText value="#{personMB.person.firstName}" /> 					
						
               <p:outputLabel value="Sobrenome: " />
               <h:outputText  value="#{personMB.person.lastName}" /> 
               
               <p:outputLabel value="Nome em obras científicas em obras científicas: " />
               <h:outputText value="#{personMB.person.surname}" /> 
               
               <p:outputLabel value="CPF: " />
               <h:outputText value="#{personMB.person.key}" /> 
               
               <p:outputLabel value="Email: " />
               <h:outputText value="#{personMB.person.email}" /> 
               
                		 
		     														
							<p:commandButton value="Voltar" icon="fa fa-reply"
								process="@this" oncomplete="PF('dlgVisualizar').hide();"
								
								>								
							</p:commandButton>
							

						<p:outputLabel />
					</p:panelGrid>
				</h:panelGrid>

			</h:form>
		</p:dialog>
		<!-- FIM visualizar -->
		
   
   
    <!--DIALOGO EDITAR -->

		<p:dialog widgetVar="dlgEditar" closable="false"
			draggable="true" resizable="false" header="Editar"
			modal="true" appendTo="@(body)">
	
		<h:form id="frmEditar">	
			<h:panelGrid columns="4" id="pnlEditar">
			
			  <p:panelGrid columns="4" style="width:600px;">
				
			   <p:outputLabel value="Nome: " />
		       <p:inputText value="#{personMB.person.firstName}" />     							
						
               <p:outputLabel value="Sobrenome: " />
               <p:inputText value="#{personMB.person.lastName}" /> 
                
               <p:outputLabel value="Nome em obras científicas: " />
               <p:inputText value="#{personMB.person.surname}" /> 
               
               <p:outputLabel value="CPF: " />
               <p:inputText value="#{personMB.person.key}" /> 
               
               <p:outputLabel value="Email: " />
               <p:inputText value="#{personMB.person.email}" /> 
               
              				
	  </p:panelGrid>
	 </h:panelGrid>              
	 
 			<h:panelGrid columns="2">
							<p:commandButton value="Confirmar edição" icon="fa fa-check"
								actionListener="#{personMB.edit()}"
								update=":formPerson:tbl"
								oncomplete="PF('dlgConfirmacao').show();">
							</p:commandButton>
							<p:commandButton value="Cancelar" icon="fa fa-reply"
								process="@this" oncomplete="PF('dlgEditar').hide();">
								<p:resetInput target="pnlEditar"></p:resetInput>
							</p:commandButton>

			</h:panelGrid>
</h:form>			
			
		
		</p:dialog>	
   
   
   <p:dialog header="Confirmar" widgetVar="dlgConfirmacao" modal="true"
			appendTo="@(body)" closable="false" draggable="true"
			resizable="false">
			<h:form>
				<p:messages id="messages" autoUpdate="true" closable="false" />
				<h:panelGrid columns="2">
					<p:commandButton value="OK" icon="fa fa-check"
						update=":formPerson:tbl"
						oncomplete="PF('dlgConfirmacao').hide();"
						onclick="PF('dlgEditar').hide();">
					</p:commandButton>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		
		
		
		<p:dialog header="Confirmar" widgetVar="dlgDel" modal="true"
			appendTo="@(body)" closable="false" draggable="true"
			resizable="false">
			<h:form id="frmDel">
				<p:messages id="messages" autoUpdate="true" closable="false" />
				<p>Deseja realmente remover esta pessoa?</p>
				<h:panelGrid columns="2" id="pnlDel">
							
							
							<p:commandButton value="Confirmar remoção" icon="fa fa-check"
								actionListener="#{personMB.delete()}"
								update=":formPerson:tbl"
								oncomplete="PF('dlgDel').hide(); PF('dlgConfirmacaoDel').show();">
							</p:commandButton>
							<p:commandButton value="Cancelar" icon="fa fa-reply"
								process="@this" oncomplete="PF('dlgDel').hide();">
							</p:commandButton>
				
				
				</h:panelGrid>
			</h:form>
		</p:dialog>
		
		
    
    
    
		<p:dialog header="Confirmar Remoção" widgetVar="dlgConfirmacaoDel" modal="true"
			appendTo="@(body)" closable="false" draggable="true"
			resizable="false">
			<h:form>
				<p:messages id="messages" autoUpdate="true" closable="false"/>
				<h:panelGrid columns="2">
					<p:commandButton value="OK" icon="fa fa-check" ajax="false"
						update=":formPerson:tbl"
						onclick="PF('dlgConfirmacaoDel').hide();"
						actionListener="#{personMB.openDel()}"
						 >
					</p:commandButton>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		
   
   
   
 </div>
		
	</ui:define>
</ui:composition>
</html>



