<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<link href="#{facesContext.externalContext.requestContextPath}/css/bootstrap.min.css" rel="stylesheet" />
	<link href="#{facesContext.externalContext.requestContextPath}/css/style.css" rel="stylesheet" type="text/css" />	
	
	
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/locale.js" />
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/css/bootstrap.min.js" /> 
	
	<link href="#{facesContext.externalContext.requestContextPath}/css/justified-nav.css" rel="stylesheet" />
	<link href="#{facesContext.externalContext.requestContextPath}/css/offcanvas.css" rel="stylesheet" />    
	
	
	<title>Coleção de Mamíferos do NUPEM</title>
</h:head>


<h:body>
 
<!-- inicio --> 

 <div class="top">
      <div class="inner-top">
        <a href="http://www.ufrj.br" title="Ir para Ufrj" class="logo" style="border-right: 0px;">
			<img src="../images/minerva.png" width="78px;" height="78px;"/>
        </a>
		<a href="http://www.macae.ufrj.br/nupem/" title="Ir para a página do nupem" class="logo">
			<img src="../images/nupem.jpg" width="78px;" height="78px;" />
		</a>
		
		<div id="menu_tab">
					
			<h:form>	
				<p:megaMenu style="border-style: none;" >
        
        			<p:menuitem value="Inserir Espécime" outcome="insertSample.jsf" styleClass="nav" />
        			
        			<p:menuitem value="Ver Espécimes" action="#{sampleMB.open()}" styleClass="nav" ajax="false"/>
        			
        			<p:menuitem value="Incluir Occorrência" outcome="insertSpecimen.jsf" styleClass="nav" />
        	            
			        
			        <p:menuitem value="Sair" action="#{personMB.logout()}" styleClass="nav" />     
			           
	                
		 	                
   
				</p:megaMenu>
			</h:form>	
			
		</div>
      
      </div>
 </div>   
 
<!-- fim -->
 
<div id="main_container">

		<div id="main_content">
			
					

			<!-- corpo end of center content -->
			<ui:insert name="content">
			
		
		    </ui:insert>

		</div>
		<!-- end of main content -->

		<!-- rodape -->
		
	</div>
	
	<div class="footer">
			Coleção de mamíferos do NUPEM/UFRJ.
		
		</div>
	


</h:body>

</html>
