<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<link href="#{facesContext.externalContext.requestContextPath}/css/bootstrap.min.css" rel="stylesheet" />	
	<link href="#{facesContext.externalContext.requestContextPath}/css/default.css" rel="stylesheet" type="text/css" />	
	<link href="#{facesContext.externalContext.requestContextPath}/css/estilos.css" rel="stylesheet" type="text/css" />
	<link href="#{facesContext.externalContext.requestContextPath}/css/dashboard.css" rel="stylesheet" type="text/css" />
	
	
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/locale.js" />
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/css/bootstrap.min.js" /> 
	
	
	
	
	<title>Coleção de Mamíferos do NUPEM</title>
</h:head>


</html>