<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	
<h:form>	 
<p:megaMenu style="border: 0px;">
        
                <p:menuitem value="Coleção" url="/private/sample.jsf" />
                <p:menuitem value="Usuários" url="/private/person.jsf" />
                <p:menuitem value="Sair" action="#{personMB.logout()}" />      
   
</p:megaMenu>
</h:form>

</html>
