<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../css/default.css" rel="stylesheet" type="text/css" />
	<link href="../css/cssLayout.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../css/scripts.js" />
	<title>PLANID</title>
</h:head>

<h:body>


	<div id="bottom">
		<ui:insert name="bottom">
		</ui:insert>
	</div>


</h:body>

</html>