<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">



<h:body>

<p:dialog widgetVar="dlgBuscaPeriodo" closable="true" closeOnEscape="true"
			draggable="true" resizable="false" header="Buscar coleta por período"
			modal="true" appendTo="@(body)" showEffect="size" hideEffect="drop">


			<h:form class="login-form">
			
			  <h:panelGrid columns="2" id="pnlVisualizar">
					<p:panelGrid columns="2">

				<p:outputLabel  value="Data inicial:"/>
				<p:calendar id="dateIni" value="#{sampleMB.initialDate}" navigator="true" locale="pt" 
				pattern="dd/MM/yyyy" mask="true" requiredMessage="O Campo Data Inicial é obrigatório." />
				
				<p:outputLabel value="Data Final:"/>
				<p:calendar id="dateFi" value="#{sampleMB.finalDate}" navigator="true" locale="pt" 
				pattern="dd/MM/yyyy" mask="true" requiredMessage="O Campo Data final é obrigatório." />
								
				<p:commandButton value="Enviar" 
					action="#{sampleMB.searchForPeriod}" ajax="false" />
					
			</p:panelGrid>
			</h:panelGrid> 		

			</h:form>
	
	</p:dialog>

</h:body>



</html>

