<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">



<h:body>

<p:dialog widgetVar="dlgLogin" closable="true"
			draggable="true" resizable="false" header="Logar"
			modal="true" appendTo="@(body)" showEffect="size" hideEffect="drop">


			<h:form class="login-form">
			
			  <h:panelGrid columns="2" id="pnlVisualizar">
					<p:panelGrid columns="2">

				<p:outputLabel for="cpf" value="Usuário:"/>
				<p:inputMask id="cpf" value="#{personMB.person.uri}"
					maxlength="200" required="true" size="15"
					placeholder="Digite seu usuário"
					requiredMessage="O Campo Email é obrigatório"/>
					
				<p:outputLabel for="senha" value="Senha:"/>	
				<p:password id="senha" value="#{personMB.person.key}" size="30"
					required="true" placeholder="Digite sua senha"
					requiredMessage="O Campo senha é obrigatório" />

				<p:commandButton value="Entrar" update="messages"
					action="#{personMB.logar}" ajax="false" />
					
			</p:panelGrid>
			</h:panelGrid> 		

			</h:form>
	
	</p:dialog>

</h:body>



</html>

