<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<h:body>

<p:dialog widgetVar="dlgBuscaIdentification" closable="true" closeOnEscape="true"
			draggable="true" resizable="false" header="Buscar coleta por identificação"
			modal="true" appendTo="@(body)" showEffect="size" hideEffect="drop" >


			<h:form class="identification-form">
			
			  <h:panelGrid columns="2" id="pnlVisualizar">
					<p:panelGrid columns="2">

				<p:outputLabel for="order" value="Ordem:"/>
				<p:selectOneMenu  id="order" value="#{sampleMB.eventSave.identification.order}"
								filter="true" filterMatchMode="contains" required="true" requiredMessage="O Campo Ordem é obrigatório.">
								
							<p:ajax listener="#{sampleMB.searchFamily}" update="family" />
								
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{sampleMB.orderList}" var="item"
									itemValue="#{item.order}" itemLabel="#{item.order}" />
				</p:selectOneMenu>
				
				
				<p:outputLabel for="family" value="Família:"/>
				<p:selectOneMenu  id="family" value="#{sampleMB.eventSave.identification.family}"
								filter="true" filterMatchMode="contains" required="true" requiredMessage="O Campo Família é obrigatório.">
								
							<p:ajax listener="#{sampleMB.searchIdentification}" update="iden" />
								
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{sampleMB.familyList}" var="item"
									itemValue="#{item.family}" itemLabel="#{item.family}" />
				</p:selectOneMenu>
								
				<p:outputLabel for="iden" value="Nome científico:"/>
				<p:selectOneMenu  id="iden" value="#{sampleMB.eventSave.identification.toTaxon}"
								filter="true" filterMatchMode="contains" required="true" requiredMessage="O Campo Nome científico é obrigatório.">
																
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{sampleMB.identificationList}" var="item"
									itemValue="#{item.id}" itemLabel="#{item.scientificName}" />
				</p:selectOneMenu>
								
								
				<p:commandButton value="Enviar" update="messages"
					action="#{sampleMB.searchForIdentification}" ajax="false" />
					
			</p:panelGrid>
			</h:panelGrid> 		

			</h:form>
	
	</p:dialog>

</h:body>



</html>

