<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">



<h:body>

<p:dialog widgetVar="dlgBuscaLocation" closable="true" closeOnEscape="true" 
			draggable="true" resizable="false" header="Buscar Coleta por região" 
			modal="true" appendTo="@(body)" showEffect="size" hideEffect="drop">


			<h:form class="location-form">
			
			  <h:panelGrid columns="2" id="pnlVisualizar">
					<p:panelGrid columns="2">

				<p:outputLabel for="uf" value="UF:"/>
				<p:selectOneMenu  id="uf" value="#{sampleMB.eventSave.location.stateProvidence}"
								filter="true" filterMatchMode="contains" required="true" requiredMessage="O Campo UF é obrigatório.">
								
							<p:ajax listener="#{sampleMB.searchCounty}" update="muni" />
								
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{sampleMB.stateList}" var="item"
									itemValue="#{item.id}" itemLabel="#{item.stateProvidence}" />
				</p:selectOneMenu>
				
				
				<p:outputLabel for="muni" value="Município:"/>
				<p:selectOneMenu  id="muni" value="#{sampleMB.eventSave.location.inDescribedPlace}"
								filter="true" filterMatchMode="contains" required="true" requiredMessage="O Campo Município é obrigatório.">
																
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{sampleMB.countyList}" var="item"
									itemValue="#{item.inDescribedPlace}" itemLabel="#{item.county}" />
				</p:selectOneMenu>

				
								
				<p:commandButton value="Enviar" update="messages"
					action="#{sampleMB.searchForLocation}" ajax="false" />
					
			</p:panelGrid>
			</h:panelGrid> 		

			</h:form>
	
	</p:dialog>

</h:body>



</html>

