<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<p:dialog widgetVar="dlgVisualizar" closable="true" height="400px"
			draggable="true" resizable="true" header="Espécimes"
			modal="true" appendTo="@(body)" closeOnEscape="true" position="bottom">
			<h:form id="frmVisualizar">
			
		<h:panelGrid columns="2">
						
							<p:commandButton rendered="#{occurrenceMB.last != false}" value="Anterior"
								actionListener="#{occurrenceMB.back()}"
								update=":frmVisualizar"
								process="@this" 
								>
							</p:commandButton>	
								
							<p:commandButton value="Próximo" rendered="#{occurrenceMB.first != false}"
								actionListener="#{occurrenceMB.next()}"
								update=":frmVisualizar"
								process="@this" 																
								>			
							</p:commandButton>	
												
							
						</h:panelGrid>	
			
		<h:panelGrid columns="2" id="pnlVisualizar">
			
			  <p:outputLabel value="Número do Tombo: " />  <p:outputLabel value="#{occurrenceMB.occurrence.catalogNumber}" />
			  
			  <p:outputLabel value="Número do campo: " />  <p:outputLabel value="#{occurrenceMB.occurrence.recordNumber}" />	
						
               <p:outputLabel value="Sexo: " />  <p:outputLabel value="#{occurrenceMB.occurrence.sex}" />
               
               <p:outputLabel value="Estação de coleta: " /> <p:outputLabel value="#{occurrenceMB.occurrence.locality}" />
			   <p:outputLabel value="Status na coleção: " /> <p:outputLabel value="#{occurrenceMB.occurrence.disposition}" />	
			   
			   <p:outputLabel  value="Observação:" /> <p:outputLabel value="#{occurrenceMB.occurrence.occurrenceRemarks}" />
               
			   <p:outputLabel value="Armazenamento: " /> <p:outputLabel value="#{occurrenceMB.occurrence.preparations}" />
           		 
	   </h:panelGrid>     
	  
	 <p:panel header="Medidas"> 
	 
	  <p:dataTable id="tbl" var="measurement" value="#{occurrenceMB.occurrence.measurements}" editable="true"
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                 paginator="true" rows="10" style="margin-bottom:20px; padding-top:20px; max-width: 600px; min-width: 600px;" 
                 currentPageReportTemplate="[Página: {currentPage} de {totalPages} ]"  paginatorPosition="bottom" paginatorAlwaysVisible="false"
                 >  
                 
       <p:column headerText="Tipo">
               <h:outputText value="#{measurement.measurementType}" />           
       </p:column>       
    
        
        <p:column headerText="Valor" width="120">
            <h:outputText value="#{measurement.measurementValue}" />
        </p:column>
        
        <p:column headerText="Unidade"  width="120">
            <h:outputText value="#{measurement.measurementUnit}" />
        </p:column>
        
                           
     </p:dataTable>                       
           			
	</p:panel>				<!-- fim -->
						               
				
			</h:form>
		</p:dialog>
	

</html>   
   