<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	
    <!-- Custom styles for this template -->
	
	<title>Coleção de Mamíferos do NUPEM</title>
	

</h:head>


<ui:composition template="template.xhtml">

	<ui:define name="content">

			
	 <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-12">
                  
          
      <h:form id="form"> 
      
      <div class="crumb_navigation">
		<p:commandLink action="#{sampleMB.open()}" value="início" style="font-size: 16px;" rendered="#{sampleMB.filtro > 0}"/>
		<p:outputLabel value="&raquo; Busca por Período" rendered="#{sampleMB.filtro == 1}" />
		<p:outputLabel value="&raquo; Busca por Identificação" rendered="#{sampleMB.filtro == 2}" />
		<p:outputLabel value="&raquo; Busca por Região" rendered="#{sampleMB.filtro == 3}" />
	  </div>	   
                     
      <h:commandLink action="#{sampleMB.pagination(sampleMB.page-1)}" update="form" rendered="#{sampleMB.page > 0}">
      	<p:graphicImage url="../images/setaAnt.png" alt="Anterior" title="Anterior" width="40px" height="40px"/>
	  </h:commandLink>
      
      <h:commandLink action="#{sampleMB.pagination(sampleMB.page+1)}" update="form" rendered="#{sampleMB.eventList.size() == 6}">
      	<p:graphicImage url="../images/setaProx.png" alt="Próximo" title="Próximo" width="40px" height="40px" style="float: right;"/>
	  </h:commandLink>
          
         
        <div class="row"> 	 
        <ui:repeat var="event" value="#{sampleMB.eventList}">  
          
          
            <div class="col-6 col-lg-4">
              <img src="#{event.identification.thumbnail}" style="margin-left: 10px;" width="200" height="200" class="rounded-circle" alt="thumbnail" />              
              
              <p:commandLink value="#{event.identification.scientificName}" action="#{sampleMB.viewSample(event)}" styleClass="title_species" ajax="false"/>
              <br />
              <p:outputLabel value="Coletado em:  " />  
              <p:outputLabel value="#{event.eventDate}">
              	<f:convertDateTime pattern="dd/MM/yyyy" />  
              </p:outputLabel>
               
            </div><!--/span-->           
          
        </ui:repeat>  
        </div><!--/row-->
          </h:form>
          
          
          
        </div><!--/span-->
        
        

      </div><!--/row-->
      
      
		
	</div>	
	
	
	</ui:define>

	</ui:composition>

</html>