<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
          
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	
<h:body>

<ui:composition template="template.xhtml">

	<ui:define name="content">
	
 <h:form>	
	<div class="crumb_navigation">
		<p:commandLink action="#{sampleMB.open()}" value="início &raquo;" style="font-size: 16px;" /> &raquo;
		<p:link outcome="insertSample" value="Inserir Coleta" style="font-size: 16px;" /> &raquo;
			Inserir espécime
	</div>
 </h:form>	
	
	<h:form>
			
			<p:messages id="msg" autoUpdate="true" closable="true" />
	
			<p:commandButton value="Sair" style="float:right;"
	                onclick="PF('dlgConfirmar').show();"
	                update=":frmConfirmar:pnlConfirmar"/>
   	</h:form>  
	
	<h:form id="form">	 
								
				 <h:panelGrid columns="2" id="pnlEspecimes" style="width:1100px; height: 250px;">
				 					
						<p:outputLabel value="Número de tombo: " /> <p:inputText value="#{occurrenceMB.occurrenceSave.catalogNumber}" required="true" requiredMessage="O Campo Número de tombo é obrigatório."/>
              
               			<p:outputLabel value="Número do Campo: " />
						<p:inputText  value="#{occurrenceMB.occurrenceSave.recordNumber}" required="true" requiredMessage="O Campo Número do campo é obrigatório." />
					
								
			               <p:outputLabel value="Sexo: " />
			               <p:selectOneMenu  value="#{occurrenceMB.occurrenceSave.sex}" required="true" requiredMessage="O Campo Sexo é obrigatório.">
											<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true"/>
											<f:selectItem itemLabel="Macho" itemValue="M"/>
											<f:selectItem itemLabel="Fêmea" itemValue="F"/>
											<f:selectItem itemLabel="Não Identificado" itemValue="NI"/>									
							 		</p:selectOneMenu>
			               
			               
			               <p:outputLabel value="Estação de coleta: " /> <p:inputText value="#{occurrenceMB.occurrenceSave.locality}" required="true" requiredMessage="O Campo Estação de coleta é obrigatório." />
			               
			               <p:outputLabel value="Status na coleção: " /> <p:inputText value="#{occurrenceMB.occurrenceSave.disposition}" required="true" requiredMessage="O Campo Status na coleção é obrigatório." />
			               <p:outputLabel value="Armazenamento na coleção: " /> <p:inputText value="#{occurrenceMB.occurrenceSave.preparations}" required="true" requiredMessage="O Campo Armazenamento é obrigatório." />
			               
			               
			               <p:outputLabel  value="Observação: " />     
			               <p:inputTextarea rows="4" cols="40" value="#{occurrenceMB.occurrenceSave.occurrenceRemarks}" /> 
			               
			               
			               <!-- measurement-->
			
			               <!-- fim measurement -->
			               
			              
			                 
			          
	  </h:panelGrid>
	  
	                
			<p:panel header="Medidas">                			
			  <p:panelGrid columns="7" id="pnlMeasurement">
			   
                <p:outputLabel value="Tipo: " />	 	
                <p:selectOneMenu value="#{occurrenceMB.measurement.measurementType}" effect="fold" editable="false">
		                <f:selectItem itemLabel="Corpo" itemValue="Corpo" />
		                <f:selectItem itemLabel="Cauda" itemValue="Cauda" />
		                <f:selectItem itemLabel="Calcar" itemValue="Calcar" />
		                <f:selectItem itemLabel="Pé" itemValue="Pé" />
		                <f:selectItem itemLabel="Orelha" itemValue="Orelha" />
		                <f:selectItem itemLabel="Trago" itemValue="Trago" />
		                <f:selectItem itemLabel="Antebraço" itemValue="Antebraço" />
		                <f:selectItem itemLabel="Peso" itemValue="Peso" />
		                
		          </p:selectOneMenu>  				
						
               <p:outputLabel value="Valor: " />
               <p:inputText value="#{occurrenceMB.measurement.measurementValue}" />   
                             
               <p:outputLabel value="Unidade " />
                   <p:selectOneMenu value="#{occurrenceMB.measurement.measurementUnit}" effect="fold" editable="false">
                   		<f:selectItem itemLabel="cm" itemValue="cm" />
		                <f:selectItem itemLabel="mg" itemValue="mg" />
		                <f:selectItem itemLabel="g" itemValue="g" />		                
		                <f:selectItem itemLabel="mm" itemValue="mm" />
		           </p:selectOneMenu>  		 
				 
		      
		        <p:commandButton value="Inserir" icon="fa fa-check"
								actionListener="#{occurrenceMB.addMeasurement()}"
								update=":form">
								
								<p:resetInput target="pnlMeasurement" clearModel="true"/>
				</p:commandButton> 
			  </p:panelGrid>	
			  
<h:form id="formMeasurement" >
       
    <p:dataTable id="tbl" var="measurement" value="#{occurrenceMB.occurrenceSave.measurements}" editable="false"
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                 paginator="true" rows="10" style="margin-bottom:20px; padding-top:20px; max-width: 775px; min-width: 775px;" 
                 emptyMessage="Nenhuma medida inserida." currentPageReportTemplate="[Página: {currentPage} de {totalPages} ]"  
                 paginatorPosition="bottom" paginatorAlwaysVisible="false"                
                 > 
                 
 
       <p:column headerText="Tipo">
 
               <h:outputText value="#{measurement.measurementType}" />             
         
       </p:column>       
       
        <p:column headerText="Valor">
               <h:outputText value="#{measurement.measurementValue}" />
       </p:column>      
       
       <p:column headerText="Unidade">
               <h:outputText value="#{measurement.measurementUnit}" />
               
       </p:column>  
    
        
                
              
      <p:column width="70">
      											
														
							
							<p:commandButton id="exc" icon="fa fa-eraser" 
								oncomplete="PF('dlgDelMeasurement').show();"
								update="form">
								
								<f:setPropertyActionListener value="#{measurement}"
									target="#{occurrenceMB.measurement}" />
								
								<p:tooltip for="exc" value="Excluir" trackMouse="true" />
									
							</p:commandButton>
							
		</p:column>
	    
	          
                     
     </p:dataTable>
     
    
     
    </h:form>
			
			
			   
			 <br />
			 
			<p:commandButton value="Salvar" icon="fa fa-save"
											actionListener="#{occurrenceMB.save()}"
											update=":form" ajax="false">
			</p:commandButton> 
			  			    
			               
			</p:panel>   
			
</h:form>	
			  
			               
				 
	<p:dialog header="Confirmar" widgetVar="dlgConfirmar" modal="true"
			appendTo="@(body)" closable="false" draggable="true"
			resizable="false">
			<h:form id="frmConfirmar">
				<p:messages id="messages" autoUpdate="true" closable="false" />
				
				<p>Deseja realmente sair desta tela?</p>
				<h:panelGrid columns="2" id="pnlConfirmar">							
							
							<p:commandButton value="Sim" icon="fa fa-check"
								actionListener="#{personMB.logout()}"
								oncomplete="PF('dlgConfirmar').hide();" ajax="false"> 
							</p:commandButton>
							<p:commandButton value="Não" icon="fa fa-reply"
								process="@this" oncomplete="PF('dlgConfirmar').hide();">
							</p:commandButton>				
				
				</h:panelGrid>
			</h:form>
		</p:dialog>             
				
					
	
	 <p:dialog header="Confirmar" widgetVar="dlgDelMeasurement" modal="true"
			appendTo="@(body)" closable="false" draggable="true"
			resizable="false">
			<h:form id="frmDel2">
				<p:messages id="messages" autoUpdate="true" closable="false" />
				<p>Deseja realmente remover este item?</p>
				<h:panelGrid columns="2" id="pnlDel">
							
							
							<p:commandButton value="Confirmar remoção" icon="fa fa-check"
								actionListener="#{occurrenceMB.delete()}"
								update=":form"
								oncomplete="PF('dlgDelMeasurement').hide();">
							</p:commandButton>
							<p:commandButton value="Cancelar" icon="fa fa-reply"
								process="@this" oncomplete="PF('dlgDelMeasurement').hide();">
							</p:commandButton>
				
				
				</h:panelGrid>
			</h:form>
		</p:dialog>					
					


</ui:define>

</ui:composition>

</h:body>

</html>
