<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<h:body>

	<ui:composition template="template.xhtml">

		<ui:define name="content">
		
	<h:form>	
		<div class="crumb_navigation">
		<p:commandLink action="#{sampleMB.open()}" value="início" style="font-size: 16px;" />&raquo;
			Inserir coleta de espécie
		</div>
	</h:form>	
	
		<h:form id="form">
		
		<p:messages id="msg" autoUpdate="true" closable="true" />
		
		<p:tabView>
		            
			 <p:tab id="sample" title="Dados da coleta">
			 			 
					<h:panelGrid  columns="2" id="sam" style="height:50px;">
											
						<p:outputLabel for="date" value="Data: " />
						<p:calendar id="date" value="#{sampleMB.eventSave.eventDate}" navigator="true" locale="pt" pattern="dd/MM/yyyy" mask="true" required="true" requiredMessage="O Campo Data é obrigatório."/>
						
						<p:outputLabel for="coletor" value="Coletor: " />
						<p:inputText id="coletor" value="#{sampleMB.eventSave.recordedBy}" required="true" requiredMessage="O Campo Coletor é obrigatório."/>
						
						<p:outputLabel  value="Observação: " />     
                    	<p:inputTextarea rows="2" cols="60" value="#{sampleMB.eventSave.eventRemarks}" /> 
                    	 
                    	
					</h:panelGrid>
					
					
				
			<p:panel header="Técnica de coleta">	
				<h:panelGrid columns="2" id="sam2" style="height:50px;">
				<p:outputLabel value="Técnica de coleta:" />
						<p:selectOneMenu id="tc" value="#{sampleMB.samplingProtocol.samplingProtocol}"
								filter="true" filterMatchMode="contains" 
								requiredMessage="O Campo Protocolo de coleta é obrigatório." required="true">
								
								<p:ajax listener="#{sampleMB.insertProtocol()}" update="protocol" />
								
								<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
								
								<f:selectItems value="#{sampleMB.samplingProtocolList}" var="item"
									itemValue="#{item.samplingProtocol}" itemLabel="#{item.samplingProtocol}" />
				 		</p:selectOneMenu>
				 
				 </h:panelGrid>		
				 
			<h:panelGrid columns="2" id="sam4" style="height:50px;">		
				 <p:dataTable id="protocol" var="protocol" value="#{sampleMB.samplingProtocolSelect}" emptyMessage="Nenhuma técnica de coleta selecionada.">
				    <p:column headerText="Técnica de coleta">
				        <h:outputText value="#{protocol.samplingProtocol}" />
				    </p:column>
				    
				    
				    <p:column>
				        <p:commandLink value="Remover" ignoreAutoUpdate="true"> 
				        	<p:ajax listener="#{sampleMB.removeProtocol(protocol)}" update="protocol"/>
				        </p:commandLink>
				    </p:column>
				    
				</p:dataTable>
			</h:panelGrid>		 
			
		</p:panel>	
		
		
		</p:tab>
				
        
		<p:tab title="Espécie">
			
			<h:panelGrid columns="1" style="float: right;">
			  
			  <!--   <p:graphicImage width="200px" height="200px" url="http://commons.wikimedia.org/wiki/Special:FilePath/Crab-eating_Fox.JPG" styleClass="mg-fluid rounded-circle"/> -->
			  
	       </h:panelGrid>
	       
	       
			<h:panelGrid columns="2" style="height: 200px;" id="species">		
			 
				<p:outputLabel for="order" value="Ordem:"/>
				<p:selectOneMenu  id="order" value="#{sampleMB.eventSave.identification.order}"
								filter="true" filterMatchMode="contains" required="true" requiredMessage="O Campo Ordem é obrigatório.">
																							
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{sampleMB.orderList}" var="item"
									itemValue="#{item.order}" itemLabel="#{item.order}" />
				</p:selectOneMenu>
				
				
				<p:outputLabel for="family" value="Família:"/>
				<p:selectOneMenu  id="family" value="#{sampleMB.eventSave.identification.family}"
								filter="true" filterMatchMode="contains" required="true" requiredMessage="O Campo Família é obrigatório.">
								
							<p:ajax listener="#{sampleMB.searchIdentification}" onstart="PF('dlgAguarde').show();"  oncomplete="PF('dlgAguarde').hide();" update="iden" />
								
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{sampleMB.familyList}" var="item"
									itemValue="#{item.family}" itemLabel="#{item.family}" />
				</p:selectOneMenu>
								
				<p:outputLabel for="iden" value="Nome científico:"/>
				<p:selectOneMenu  id="iden" value="#{sampleMB.eventSave.identification.toTaxon}"
								filter="true" filterMatchMode="contains" required="true" requiredMessage="O Campo Nome científico é obrigatório.">
																
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{sampleMB.identificationList}" var="item"
									itemValue="#{item.id};#{item.scientificName}" itemLabel="#{item.scientificName}" />
				</p:selectOneMenu>       
			</h:panelGrid>
	       
	       
	        </p:tab>
	        
 			<p:tab id="geo" title="Dados geográficos" >
				 <h:panelGrid columns="2" id="pnlGeo" style="width:1100px; height: 250px;">
					<p:panelGrid columns="2" id="pgeo">
					
					
				<p:outputLabel for="uf" value="UF:"/>
				<p:selectOneMenu  id="uf" value="#{sampleMB.eventSave.location.stateProvidence}"
								filter="true" filterMatchMode="contains" required="true" requiredMessage="O Campo UF é obrigatório.">
								
							<p:ajax listener="#{sampleMB.searchCounty}" onstart="PF('dlgAguarde').show();"  oncomplete="PF('dlgAguarde').hide();" update="muni" />
								
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{sampleMB.stateList}" var="item"
									itemValue="#{item.id}" itemLabel="#{item.stateProvidence}" />
				</p:selectOneMenu>
				
				
				<p:outputLabel for="muni" value="Município:"/>
				<p:selectOneMenu  id="muni" value="#{sampleMB.eventSave.location.inDescribedPlace}"
								filter="true" filterMatchMode="contains" required="true" requiredMessage="O Campo Município é obrigatório.">
																
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{sampleMB.countyList}" var="item"
									itemValue="#{item.inDescribedPlace}" itemLabel="#{item.county}" />
				</p:selectOneMenu>
					
					
					<p:outputLabel value="Localidade: " />
						<p:inputText maxlength="50" size="30"
							value="#{sampleMB.eventSave.location.municipality}" required="true" requiredMessage="O Campo Localidade é obrigatório.">
							 
						</p:inputText>
																	
											
					<p:outputLabel value="Latitude: " required="true" requiredMessage="O Campo Latitude é obrigatório." />
						<p:inputText maxlength="50" size="30"
							value="#{sampleMB.eventSave.location.decimalLatitude}">
							 
					</p:inputText>	  
						
					<p:outputLabel value="Longitude: " />
						<p:inputText maxlength="50" size="30"
							value="#{sampleMB.eventSave.location.decimalLongitude}" required="true" requiredMessage="O Campo Longitude é obrigatório." >
							 
						</p:inputText>							
					 
					<p:outputLabel  value="Observação sobre o local: " />     
                    <p:inputTextarea rows="2" cols="60" value="#{sampleMB.eventSave.location.locationRemarks}" />                       
                    
                    
				  </p:panelGrid>
					
				</h:panelGrid>
				
				
				<p:separator />
				
				<p:commandButton value="Salvar" 
	                actionListener="#{sampleMB.save()}"  onclick="PF('dlgAguarde').show();" 
	                oncomplete="PF('dlgAguarde').hide();" icon="fa fa-save">
	                
	                	<p:resetInput target="form" clearModel="true"/>	
	             </p:commandButton>
	             			
				</p:tab>
		
	        
        </p:tabView>
        	
			
		  </h:form>	
		  
		  <p:dialog widgetVar="dlgAguarde" closable="true"
			draggable="true" resizable="false" header="Por favor aguarde ..."
			modal="true" appendTo="@(body)" showEffect="size" hideEffect="drop">


			<h:form>
			
				<p:graphicImage url="../images/aguarde.gif" width="350px" height="150px" />	

			</h:form>
	
		</p:dialog>				
		  
		  
		  <h:form>
	
			<p:commandButton value="Sair" style="float:right;"
	                onclick="PF('dlgConfirmar').show();"
	                update=":frmConfirmar:pnlConfirmar"/>
	     </h:form>  
		  
		  <p:dialog header="Confirmar" widgetVar="dlgConfirmar" modal="true"
			appendTo="@(body)" closable="false" draggable="true"
			resizable="false">
			
			<h:form id="frmConfirmar">
				<p:messages id="messages" autoUpdate="true" closable="false" />
				
				<p>Deseja realmente sair desta tela?</p>
				<h:panelGrid columns="2" id="pnlConfirmar">							
							
							<p:commandButton value="Sim" icon="fa fa-check"
								actionListener="#{personMB.logout()}"
								oncomplete="PF('dlgConfirmar').hide();" ajax="false"> 
							</p:commandButton>
							
							<p:commandButton value="Não" icon="fa fa-reply"
								process="@this" oncomplete="PF('dlgConfirmar').hide();">
							</p:commandButton>				
				
				</h:panelGrid>
			</h:form>
		</p:dialog>
		  
		  
		  <p:dialog header="Confirmar" widgetVar="dlgConf" modal="true"
			appendTo="@(body)" closable="false" draggable="true"
			resizable="false">
			
			<h:form id="frmConf">
				<p:messages id="messages" autoUpdate="true" closable="false" />
				<p>Deseja inserir espécimes relacionados a esses dados de coleta?</p>
				<h:panelGrid columns="2" id="pnlConf">							
							
							<p:commandButton value="Sim" icon="fa fa-check"
								actionListener="#{occurrenceMB.openOccurrence(sampleMB.eventSave)}"
								oncomplete="PF('dlgConf').hide(); ">
							</p:commandButton>
							<p:commandButton value="Não" icon="fa fa-reply"
								action="/home}"
								process="@this" oncomplete="PF('dlgConf').hide();" ajax="false">								
								
							</p:commandButton>
				
				
				</h:panelGrid>
			</h:form>
		</p:dialog>		 					

		</ui:define>

	</ui:composition>

</h:body>

</html>
