<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
          
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	

<ui:composition template="template.xhtml">

	<ui:define name="content">
	

			<!-- Digite aqui a página -->
			
<h:form id="form">			
			
	<div class="crumb_navigation">
		<p:commandLink action="#{sampleMB.open()}" value="início" style="font-size: 16px;" />&raquo;
		Veja mais
	</div>		

<!-- 
	<div class="crumb_navigation">
	
	    <a href="javascript:window.history.go(-1)"><img src="../images/voltar.gif" width="40" height="30"/></a>
	
		
	</div>
	
 -->	
 
 <p:messages id="msg" autoUpdate="true" closable="true" />
				
	<div class="jumbotron" style="height:405px;">
       <div style="float: left; padding-right: 20px;">       
        <img src="#{sampleMB.event.identification.thumbnail}" title="Fonte: DBPedia" width="200" height="200" class="img-fluid rounded-circle" alt="thumbnail" />
        <h4><p:outputLabel value="#{sampleMB.event.identification.scientificName}" /></h4>
        
			<p:link value="Saiba mais sobre essa espécie" title="Fonte: GBIF" href="#{sampleMB.event.identification.seeAlso}" target="blank"></p:link>
		
					           
       </div> 
        
        
    <div>
    		<img src="../images/dbpedia.png" width="70" class="img-fluid" alt="DBPedia" title="Fonte: DBPedia"/>

	       <p style="text-align: justify;">
	             <h:outputText value="#{sampleMB.event.identification.comment}" title="Fonte: DBPedia"/>
	       </p>
	       
	          
	    </div>

	  &laquo;<h:commandLink action="#{sampleMB.navDetails(0)}" update="form" value="Anterior" />&raquo;      
      &laquo;<h:commandLink action="#{sampleMB.navDetails(1)}" update="form" value="Próximo" />&raquo;    
   
      </div>
      
       <div class="row">
        <div class="col-lg-6">
          <h2>Local da coleta <img src="../images/geonames.png"  width="70" class="img-fluid" alt="Geonames" title="Fonte: Geonames"/></h2>        
          <p>Local: <p:outputLabel title="Fonte: Geonames" value="#{sampleMB.event.location.municipality} - #{sampleMB.event.location.county}, #{sampleMB.event.location.stateProvidence}" />
          
          </p>
          <p>Latitude: <p:outputLabel value="#{sampleMB.event.location.decimalLatitude}" /></p>
          <p>Longitude: <p:outputLabel value="#{sampleMB.event.location.decimalLongitude}" /></p>
          <p>Obs: <p:outputLabel value="#{sampleMB.event.location.locationRemarks}" /></p>
          
		   <p:commandButton value="Explore esse local" title="Fonte: Google Maps" oncomplete="PF('dlgLocal').show();" />
          
        </div>
        
        <p:dialog widgetVar="dlgLocal" closable="true"
			draggable="true" resizable="false" header="Detalhes do local da coleta"
			modal="true" appendTo="@(body)" position="bottom" showEffect="drop" hideEffect="drop">
			
			<div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      	<iframe
				  width="800"
				  height="320"
				  frameborder="0" style="border:0"
				  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDdF1JwdPJ_j5HQZIpBkqJ-qIMKQPTle7c
				    &amp;q=#{sampleMB.event.location.municipality},#{sampleMB.event.location.county} + #{sampleMB.event.location.stateProvidence}" >
				</iframe>
		    </div>
		  </div>
			
			 
				
		</p:dialog>
			
        
        <div class="col-lg-6">
          <h2>Dados da Coleta</h2>
          <p>Técnica de coleta: <p:outputLabel value="#{sampleMB.event.protocol}" /></p>
          <p>Data: 
          	<p:outputLabel value="#{sampleMB.event.eventDate}" >
          		<f:convertDateTime pattern="dd/MM/yyyy" /> 
          	</p:outputLabel>
          </p>
          <p>Coletor: <p:outputLabel value="#{sampleMB.event.recordedBy}" /> </p>
          <p>Obs: <p:outputLabel value="#{sampleMB.event.eventRemarks}" /></p>       
          
           <p:commandButton id="visu" icon="fa fa-eye" value="Visualizar espécime" action="#{occurrenceMB.view(sampleMB.event)}"
								oncomplete="PF('dlgVisualizar').show();"
								update=":frmVisualizar">
								
								<p:tooltip for="visu" value="Visualizar Espécimes dessa coleta" trackMouse="true" />
									
		</p:commandButton> 
		      
        </div>
        
               
      </div>
     
 </h:form>
      
      <ui:include src="dlgViewOccurrence.xhtml" />
      
      

</ui:define>

</ui:composition>


</html>
