#top {
    
    background-color: #89c6f5;
    color: black;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 100000;
}

#bottom {
    position:absolute;
    padding: 0;
    color: white;
    font-size: 10px;
    font-weight: bold;
    width: 100%;
    bottom: 0;
    background-color: #89c6f5;
    text-align: center;
    height: 100px;
    clear: both;
    left: 0;
    right: 0;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: transparent;
    padding: 5px;
    top: 225px;
    overflow:hidden;
    width:90%;
    padding-bottom: 150px; 
    margin: auto;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}