body {
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin: 0px auto auto auto;
	color: #000;
}

p {
	padding: 2px;
	margin: 0px;
	

}

#main_container {
	width: 1000px;
	height: auto;
	margin: auto;
	padding: 100px 0px 0px 0px;
	background-color: #FFFFFF;
}

#header {
	width: 1000px;
	height: 136px;
	background: url(../images/header_bg.jpg) no-repeat center;
	background-position: 0px 0px;
	margin: auto;
}

#logo {
	float: left;
	padding: 45px 0 0 15px;
}

#main_content {
	clear: both;
	padding-bottom: 20px;
}

.languages {
	float: right;
	width: 150px;
	padding: 8px 0 0 0;
}

.lang_text {
	float: left;
	padding: 0 5px 0 0;
	color: #1DA1CF;
}

a.lang {
	display: block;
	float: left;
	padding: 0 5px 0 5px;
}

.top_right {
	width: 728px;
	float: right;
}

.big_banner {
	float: right;
	padding: 10px 10px 0 0;
}

/*---------------- menu tab----------------------*/




#menu_tab {
	
	float: right;
	
	width: 770px;
	height: 100px;
	
	padding-top: 30px;
	
}


ul.menu {
	
	max-width: 1100px;
    width: 90%;
	list-style-type: none;
}

ul.menu li {
	font-size: 14px;
	font-weight: bold;
	line-height: 36px;
}

ul.menu li.divider {
	display: inline;
	width: 4px;
	height: 36px;
	float: left;
	background: url(../images/menu_divider.gif) no-repeat center;
}

.navP {
	display: block;
	float: left;
	padding: 0px 8px 0px 8px;
	margin: 0 14px 0 14px;	
	text-decoration: none;
	color: ##000000;
}

a.nav:link,a.nav:visited {
	display: block;
	float: left;
	padding: 5px 8px 0px 8px;
	margin: 0 14px 0 14px;
	height: 36px;
	text-decoration: none;
	color: ##000000;
	background: none;
	
	
}

a.nav:hover {
	display: block;
	float: left;
	padding: 5px 8px 0px 8px;
	margin: 0 14px 0 14px;
	height: 36px;
	text-decoration: none;
	color: #000000;
	background: none;
	
}

/*----------------crumb_navigation-------------*/
.crumb_navigation {
	width: 980px;
	height: 15px;
	padding: 0px 10px 30px 15px;
	color: #333333;
}

.crumb_navigation a {
	color: #0fa0dd;
	text-decoration: underline;
}

span.current {
	color: #0fa0dd;
}

/*-------------left_content------------------*/
.left_content {
	width: 180px;
	float: left;
	padding: 0 0 0 5px;
}

.title_box {
	width: 180px;
	height: 30px;
	margin: 5px 0 0 0;
	background: url(../images/menu_title_bg.gif) no-repeat center;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #159dcc;
	line-height: 30px;
}

/*--------left menu---------*/
ul.left_menu {
	width: 180px;
	padding: 0px;
	margin: 0px;
	list-style: none;
}

ul.left_menu li {
	margin: 0px;
	list-style: none;
}

ul.left_menu li.odd a {
	width: 166px;
	height: 25px;
	display: block;
	border-bottom: 1px #e4e4e4 dashed;
	text-decoration: none;
	color: #504b4b;
	padding: 0 0 0 14px;
	line-height: 25px;
}

ul.left_menu li.even a {
	width: 166px;
	height: 25px;
	display: block;
	border-bottom: 1px #e4e4e4 dashed;
	background-color: #f0f4f5;
	text-decoration: none;
	color: #504b4b;
	padding: 0 0 0 14px;
	line-height: 25px;
}

ul.left_menu li.even a:hover,ul.left_menu li.odd a:hover {
	color: #000;
	text-decoration: underline;
}

.border_box {
	width: 180px;
	height: auto;
	text-align: center;
	background: url(../images/box_bottom_bg.gif) no-repeat center bottom;
}



.product_title a {
	text-decoration: none;
	color: #ff8a00;
	padding: 5px 0 5px 0;
	font-weight: bold;
	
}

.product_title a:hover {
	color: #064E5A;
}

.product_img {
	padding: 10px;
	width: 140px;
	height: 140px;
	text-align: center;
}

.prod_price {
	padding: 5px 0 5px 0;
}

span.reduce {
	color: #666666;
	text-decoration: line-through;
}

.price {
	color: #ff8a00;
}

/*----------newsletter--------------*/
.newsletter_input {
	width: 250px;
	height: 25px;
	border: 1px #ddd9d9 solid;
	margin: 10px 0 5px 0;
	font-size: 16px;
	padding: 3px;
	color: #999990;
}

.select {
	vertical-align: middle;
	width: 200px;	
}

.product_title {
	color: #ff8a00;
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
	width: 100px;
}

a.join {
	width: 17px;
	display: block;
	margin: 0px 0 5px 110px;
	padding: 2px 8px 6px 8px;
	text-decoration: underline;
	color: #169ECC;
}

.banner_adds {
	width: 180px;
	text-align: center;
	padding: 10px 0 10px 0;
}

/*--------------oferta------------------*/
.oferta {
	width: 585px;
	height: 156px;
	background: url(../images/slider_bg.gif) no-repeat center;
	float: left;
	padding: 0px;
	margin: 0 0 5px 5px;
}

.oferta_img {
	float: left;
	padding: 10px 0 0 10px;
}

.oferta_title {
	font-size: 15px;
	color: #159dcc;
	font-weight: bold;
}

.oferta_details {
	width: 340px;
	float: left;
	padding: 20px 0 0 30px;
}

.oferta_text {
	padding: 5px 0 5px 0;
	font-size: 12px;
	color: #159dcc;
	text-align: justify;
	line-height: 15px;
}

/*center content--------------------------*/
.center_content {
	width: 600px;
	float: left;
	padding: 5px 10px 5px 15px;
}

.center_title_bar {
	width: 575px;
	height: 31px;
	float: left;
	padding: 0 0 0 10px;
	margin: 0 0 0 5px;
	line-height: 31px;
	font-size: 12px;
	color: #159DCC;
	font-weight: bold;
	background: url(../images/bar_bg.gif) no-repeat center;
}

/*----------------------right content--------------*/
.right_content {
	width: 180px;
	float: left;
	padding: 0px;
}

span.border_cart {
	width: 100px;
	height: 1px;
	margin: 3px 0 3px 0;
	display: block;
	border-top: 1px #999999 dashed;
}

/*---------prod_box----------*/
.prod_box {
	width: 173px;
	height: auto;
	float: left;
	padding: 10px 10px 10px 11px;
}

.center_prod_box {
	width: 173px;
	height: 205px;
	float: left;
	text-align: center;
	padding: 0px;
	margin: 0px;
	border: 1px #F0F4F5 solid;
	overflow: hidden;
}

.prod_details_tab {
	width: 173px;
	height: 31px;
	float: left;
	margin: 3px 0 0 0;
}

img.left_bt {
	float: left;
	padding: 6px 0 0 6px;
}

a.prod_details {
	width: 75px;
	height: 24px;
	display: block;
	float: right;
	background: url(../images/link_bg.gif) no-repeat center;
	margin: 2px 5px 0 0;
	text-align: center;
	line-height: 24px;
	text-decoration: none;
	color: #159dcc;
	cursor: pointer;
}

a.prod_compare {
	width: 75px;
	height: 24px;
	display: block;
	float: left;
	background: url(../images/link_bg.gif) no-repeat center;
	margin: 2px 0 0 5px;
	text-align: center;
	line-height: 24px;
	text-decoration: none;
	color: #159dcc;
}

a.prod_buy {
	width: 75px;
	height: 24px;
	display: block;
	float: left;
	background: url(../images/link_bg.gif) no-repeat center;
	margin: 2px 0 0 5px;
	text-align: center;
	line-height: 24px;
	text-decoration: none;
	color: #006600;
}

/*---------prod_box_big----------*/
.prod_box_big {
	width: 554px;
	height: auto;
	float: left;
	padding: 10px 10px 15px 15px;
}

.center_prod_box_big {
	width: 554px;
	height: auto;
	float: left;
	text-align: center;
	padding: 0 0 10px 0;
	margin: 0px;
	border: 1px #F0F4F5 solid;
}

.product_img_big {
	width: 170px;	
	padding: 10px 0 0 10px;
	float: left;
}

.details_big_box {
	width: 345px;
	float: left;
	padding: 0 0 0 15px;
	text-align: left;
}

.product_title_big {
	color: #ff8a00;
	padding: 5px 0 5px 0;
	font-weight: bold;
	font-size: 14px;
}

.specifications {
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
}

.thumbs {
	padding: 8px 5px 8px 5px;
	border: 1px #DFD1D1 solid;
	margin: 15px 0 0 0;
}

.thumbs a {
	padding: 3px;
}

.prod_price_big {
	padding: 5px 0 5px 0;
	font-size: 16px;
}

a.addtocart {
	width: 76px;
	height: 27px;
	display: block;
	float: left;
	background: url(../images/addtocart.gif) no-repeat left;
	padding: 0 0 0 33px;
	text-decoration: none;
	line-height: 27px;
	color: #1c4a52;
}

a.compare {
	width: 76px;
	height: 27px;
	display: block;
	float: left;
	margin: 0 0 0 10px;
	background: url(../images/compare.gif) no-repeat left;
	padding: 0 0 0 33px;
	text-decoration: none;
	line-height: 27px;
	color: #1c4a52;
}

span.blue {
	color: #159DCC;
}

/*---------------contact_form------------------*/
.contact_form {
	width: 355px;
	float: left;
	padding: 0px 0 0 75px;
}

.form_row {
	width: 475px;
	clear: both;
	padding: 10px 0 10px 0;
	color: #a53d17;
	
	
}

label.contact {
	width: 76px;
	float: left;
	font-size: 12px;
	text-align: left;
	padding: 4px 5px 0 0;
	color: #333333;
}

input.contact_input {
	border: 1px solid #DFDFDF;
    color: #999999;
    float: left;
    margin-left: 14px;
    width: 200px;
}

.selecao {
	width: 100px;
	height: 20px;
	background-color: #fff;
	color: #999999;
	border: 1px #DFDFDF solid;
	float: left;
	margin-left: 14px
}

textarea.contact_textarea {
	width: 253px;
	height: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	background-color: #fff;
	border: 1px #DFDFDF solid;
	float: left;
}

a.contact {
	width: 99px;
	height: 27px;
	display: block;
	float: right;
	margin: 0 0 0 10px;
	background: url(../images/contact_bt.gif) no-repeat left;
	padding: 0 0 0 10px;
	text-decoration: none;
	line-height: 27px;
	color: #1c4a52;
}

/*--------------footer----------------*/
.footer {
	width: 100%;
	clear: both;
	height: 65px;
	background: url(../images/footer_bg.gif) repeat-x top;	
	text-align: center;
	bottom: 0px;
}

.left_footer {
	float: left;
	width: 300px;
	padding: 5px 0 0 10px;
}

.right_footer {
	float: right;
	padding: 15px 30px 0 0;
}

.right_footer a {
	padding: 0 0 0 7px;
	text-decoration: none;
	color: #666666;
}

.right_footer a:hover {
	text-decoration: underline;
}

.center_footer {
	float: left;
	width: 200px;
	text-align: center;
	color: #666666;
	padding: 10px 0 0 60px;
}

/******* INICIO LOGIN *********/

.menuLogin{
    background-color: #213E4A;
    height: 118px;
    padding: 10px;
    width: 148px;
    box-shadow: 0 0 8px #AAAAAA;
    
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#boxLogar {
	float: right;
    margin-right: 30px;
    margin-top: 10px;
}

#menuLogin ul li{
	list-style: none outside none;
	padding-top: 7px;
	font-family: arial,helvetica,sans-serif;
	font-weight: bold;
}

.btn{
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	border: medium none;
    height: 24px;
    padding: 3px 5px 5px 10px;
    width: 58px
    font-family: "Trebuchet MS",Arial !important;
    font-weight: bold;
    color: ffffff !important;
    width: 70px;
    margin-left: 20px;
}

.btn:hover {
	box-shadow: 0 0 8px #AAAAAA;
}


/* #teste{ */
/* 	background-image: url("../images/link_bg.gif"); */
/* 	width: 100px; */
/* 	height: 100px; */
/* } */
/******* FIM LOGIN *********/

.form_row{
	padding: 10px;	
}

.error
{
	background: #FF6600;
}


/*#formulario{
	padding: 40px;
}
#formulario .validacao {
	width: 200px;
	margin-bottom: 10px;
	padding: 5px;
}
#formulario label{
	display: block;
}*/



.top {
    margin: 0 auto;
padding: 0;
width: 100%;
background-color: #fff;
height: 88px;
position: fixed;
z-index: 99999;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.top .inner-top {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.top .logo {
    float: left;
    border-right: 1px solid #ddd;
    padding: 5px 30px 5px 5px;
    height: 78px;
}

.title_species {
	
	color: #000000; 
	font-style: italic;	
	font-size: 25px;
	text-align: center;
	 
}

.title_species:hover{
	
	text-decoration: none;
	 
}






